[submodule "themes/meme"]
	path = themes/meme
	url = https://github.com/kiwi4814/hugo-theme-meme.git
	branch = master
[submodule "themes/hugo-ivy"]
	path = themes/hugo-ivy
	url = https://github.com/kiwi4814/hugo-ivy.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/kiwi4814/hugo-theme-stack.git
